/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --text: calc(0.4rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: var(--header1);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
li,
button,
label,
input,
p {
  font-size: var(--text);
  font-family: "Open Sans", sans-serif;
}
